# PROD ENVIRONMENT - EC2
# Copy this to .env.prod and fill in your values

# Docker Hub
DOCKERHUB_USERNAME=your_dockerhub_username
DOCKERHUB_TOKEN=your_dockerhub_token

# Database
MYSQL_ROOT_PASSWORD=your_secure_prod_root_password
DB_NAME=skillpulse_prod
DB_USER=skillpulse_prod
DB_PASSWORD=your_secure_prod_password

# App
PORT=8080
ENVIRONMENT=prod
